body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
    background-color: #010409;
    color: #CAD0D6;
}

li {
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

span {
    display: inline;
    font-size: 1.2em;
}

.function {
    color: #4491F1;
}

.method {
    color: #9C7DF8;
}

.params {
    color: #f7c466;
}

.description {
    background-color: #151B23;
    padding: 15px;
    border-radius: 5px;
}

hr {
    border: 1px solid #3D444D;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home-button {
  position: fixed;
  z-index: 1000000;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #b17767;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  background-color: #ffffff10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  content: url("../img/icons/home-light.png");
  transition: ease-in-out 0.3s;
}

.home-button:hover {
  background-color: #ffffff50;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  transition: ease-in-out 0.3s;
}