body {
    background-color: #111;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

input {
    font-family: Arial, sans-serif;
    outline: none;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #5e5e5e;
}

#editor-navbar {
    background-color: #222;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;
}

#editor-navbar-left-title {
    font-size: 20px;
    font-weight: bold;
}

#editor-navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#editor-navbar-right-button, #animate-button, #save-button, #load-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#editor-navbar-right-button:hover, #animate-button:hover, #save-button:hover, #load-button:hover {
    background-color: #444;
}

#editor-navbar-right-button:active, #animate-button:active, #save-button:active, #load-button:active {
    background-color: #555;
}

#editor-content {
    padding: 20px;
    padding-top: 0px;
    padding-right: calc(20px + 8px);
    height: calc(100vh - 110px);
    margin-left: 100px;
    margin-right: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dropzone-message {
    color: #666;
    font-size: 18px;
    margin: 20px 0;
}

#editor-dropzone {
    border: 2px dashed #444;
    border-radius: 10px;
    padding: 20px;
    min-height: 200px;
    max-height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -8px;
}

#editor-images-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.image-wrapper {
    position: relative;
    padding: 10px;
    background: rgb(28 28 28);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: move;
    transition: transform 0.2s ease, background-color 0.2s ease;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.image-wrapper.dragging {
    opacity: 1;
    background: #444;
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.image-wrapper img {
    max-width: 200px;
    height: auto;
    pointer-events: none;
    -webkit-user-drag: none;
}

.image-controls {
    display: flex;
    gap: 10px;
}

.duplicate-button, .delete-button {
    background-size: 16px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.duplicate-button {
    background: url('../img/icons/copy.png') no-repeat center;
}

.delete-button {
    background: url('../img/icons/delete.png') no-repeat center;
}

.duplicate-button:hover, .delete-button:hover {
    opacity: 1;
}

.image-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.frame-duration {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    margin-right: 10px;
}

.frame-duration input {
    width: 60px;
    background: #333;
    border: 1px solid #444;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    text-align: right;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.frame-duration span {
    color: #888;
    font-size: 12px;
}

.frame-duration input::-webkit-outer-spin-button,
.frame-duration input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.frame-duration input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.frame-duration input::-webkit-outer-spin-button,
.frame-duration input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.frame-duration input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#preview-section {
    margin: 20px;
    padding: 20px;
    border: 2px dashed #444;
    border-radius: 4px;
}

#preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

#preview-image {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    opacity: 1;
}

#preview-image:not([src^="data:image/png"]) {
    width: 64px;
    height: 64px;
}

.home-button {
  position: fixed;
  z-index: 1000000;
  top: 60px;
  left: 10px;
  background-color: transparent;
  color: #b17767;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  background-color: #ffffff10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  content: url("../img/icons/home-light.png");
  transition: ease-in-out 0.3s;
}

.home-button:hover {
  background-color: #ffffff50;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  transition: ease-in-out 0.3s;
}